header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgb(222, 242, 222);
}
.left{
  display: flex;
  align-items: center;
}
.left .hamburger-menu{
  font-size: 20px;
  margin: 0 auto;
}
.left .youtube-logo{
  height: 20px;
}
.middle{
  flex: 1;
  margin: 0 35px 0 70px;
  max-width: 700px;
  display: flex;
  align-items: center;
}
.middle .search-bar{
  flex: 1;
  height: 40px;
  border: 1px solid gray;
  padding-left: 8px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
}
.middle .search-bar::placeholder{
  font-size: 16px;
  padding-left: 8px;
}
.middle .search-button{
  height: 40px;
  width: 60px;
  background: rgb(240, 240, 240) ;
  border: 1px solid rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 8px;
}
.search-button, 
.voice-button,
.upload-icon-container,
.youtube-icon-container,
.cerate-container,
.notification-icon-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle .search-button .tooltip,
.voice-button .tooltip,
.upload-icon-container .tooltip,
.youtube-icon-container .tooltip,
.notification-icon-container .tooltip,
.create-container .tooltip{
  position: absolute;
  background: gray;
  color: #fff;
  padding: 8px 12px;
  border-radius: 2px;
  font-size: 16px;
  bottom: -24px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.middle .search-button:hover .tooltip,
.middle .voice-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip,
.create-container:hover .tooltip{
  opacity: 1;
}
.middle .voice-button{
  background-color: rgb(245, 245, 245);
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
}
.right{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8px;
  flex-shrink: 0;
}
.right i{
  font-size: 20px;
  width: 20px;
  height: 20px;
}
.right .upload{
  height: 30px;
  font-size: 20px;
}
.right .youtube-apps{
  height: 30px;
  font-size: 20px;
}
.right .notification-icon-container, .cerate-container{
  height: 30px;
  font-size: 20px;
}
.right .notifications{
  height: 30px;
  font-size: 20px;
}
.right .notification-count{
 position: absolute; 
 right: -8px;
 top: -8px;
 font-size: 12px;
 background: rgb(210, 2, 2);
 border-radius: 50%;
 padding: 2px 5px;
 color: #fff;
}
.right .profile-user{
  background-color: gray;
  padding: 8px;
  border-radius: 24px;
  height: 30px;
  width: 30px;
}