.video-grid{
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding-top: 80px;
  padding-left: 100px;
}
.video-ifo-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.thumbnail{
  width: 100%;
}
.thumbnail-row{
  margin-bottom: 10px;
  position: relative;
}
.thumbnail-row .video-time{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #000;
  color: #fff;
  padding: 2px 4px;
  font-weight: bold;
  border-radius: 2px;
}
.profile-picture{
  width: 100%;
  border-radius: 50px;
}
.video-preview img{
  width: 100%;
}
.channel-picture{
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.video-info{
  display: inline-block;
  width: 200px;
}
.thumbnail-row{
  margin-bottom: 12px;
}
.video-title{
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}
.video-auther,
.video-stats{
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-top: 4px;
}
@media(max-width:1200px){
  .video-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media(max-width:960px){
  .video-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width:680px){
  .video-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width:480px){
  .video-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}